/* ===== General ===== */
:root {
    --clr-prim-0: hsl(179, 100%, 13%);
    --clr-prim-1: hsl(184, 100%, 22%);
    --clr-prim-2: hsl(31, 77%, 52%);

    --clr-neutral-bg: hsl(0, 0%, 95%); /* background, headings, buttons */
    --clr-neutral-p: hsla(0, 0%, 100%, 0.75); /* paragraphs */
}

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Lexend Deca', sans-serif;
    background: var(--clr-neutral-bg);
}

img {
    display: block;
    max-width: 100%;
}


/* ===== Main ===== */
.container {
    border-radius: 0.625rem;
    overflow: hidden;

    margin: 1.5rem;
}

.card {
    padding: 3rem;
}

.card--sedans {
    background: var(--clr-prim-2);
    color: var(--clr-prim-2);
}

.card--suvs {
    background: var(--clr-prim-1);
    color: var(--clr-prim-1);
}

.card--luxury {
    background: var(--clr-prim-0);
    color: var(--clr-prim-0);
}

.card__icon {
    margin-bottom: 2rem;
    transition: margin-left .5s;
}

.card__icon:hover {
    margin-left: 0.625rem;
}

.card__title {
    color: var(--clr-neutral-bg);
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;

    margin-bottom: 2rem;
}

.card__description {
    color: var(--clr-neutral-p);
    font-size: .9rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.card__btn {
    background: var(--clr-neutral-bg);
    font-size: .9rem;
    text-decoration: none;
    padding: 1.05em 2.1em;
    border-radius: 2.1em; 

    display: inline-block;
}

.card__btn:hover {
    color: var(--clr-neutral-bg);
    background: none;
    outline: solid 0.139em var(--clr-neutral-bg);
    outline-offset: -0.139em;
}


@media (min-width: 1000px) {
    main {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        width: 55.5rem;

        margin: 0;
    }

    .card__description {
        margin-bottom: 5rem;
    }
}


/* ===== Footer ===== */
footer, footer a {
    font-size: .7rem;
    text-align: center;

    width: 18em;
    margin: 1em auto 3em;
}

footer a {
    color: var(--clr-prim-2);
}

@media (min-width: 1000px){
    footer {
        position: absolute;
        bottom: 0.6rem;
        left: 0;
        right: 0;
    }
}